.PuzzleBoard {
  position: relative;
  top: -30px; /* Adjust for positioning */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 2px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid #ccc;
  background-color: #F4E885;
  touch-action: manipulation; /* Ensures smooth touch interactions */
  user-select: none; /* Prevents accidental text selection on touch devices */
}

.PuzzlePiece img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

input[type="file"] {
  margin: 50px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #024b02;
  font-size: 1rem;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff2a00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Slightly rounded corners */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover:not(:disabled) {
  background-color: #e62300; /* Darker red on hover */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.PuzzleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 50px);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 50px;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.Stopwatch {
  font-size: 2rem;
  margin-top: 20px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.center {
  width: 25%;
  text-align: center;
}

.PuzzleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.PuzzlePiece {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease; /* Smooth scaling effect */
}

.PuzzlePiece:hover {
  transform: scale(1.05); /* Slight zoom-in on hover */
}

.PuzzlePiece img {
  width: 100%;
  height: 100%;
}

.RightSide {
  width: 25%;
  text-align: center;
}

.RightSide img {
  max-width: 80%;
  height: auto;
  margin: 10px auto;
  border: 2px solid #97bacf;
  border-radius: 8px;
}

.Timer p {
  font-size: 20px;
  font-weight: bold;
}

.animatedMessage {
  font-size: 45px;
  color: #330564;
  font-weight: bold;
  animation: pulse 1.5s infinite;
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .PuzzleBoard {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    gap: 5px;
  }

  .PuzzlePiece {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .PuzzleBoard {
    width: 500px;
    height: 500px;
  }

  .PuzzlePiece {
    width: 120px;
    height: 120px;
  }
}
